<phpunit
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
   backupGlobals="true"
   backupStaticAttributes="false"
   bootstrap="tests/bootstrap.php"
   colors="true"
   convertErrorsToExceptions="true"
   convertNoticesToExceptions="true"
   convertWarningsToExceptions="true"
   forceCoversAnnotation="true"
   beStrictAboutTestsThatDoNotTestAnything="true"
   beStrictAboutOutputDuringTests="true"
   beStrictAboutTestSize="true"
   timeoutForSmallTests="1"
   timeoutForMediumTests="10"
   timeoutForLargeTests="60"
   strict="false"
   verbose="false">
   <testsuites>
      <testsuite name="EstatyTestSuite">
         <directory>tests</directory>
      </testsuite>
   </testsuites>
   <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
         <directory suffix=".php">src</directory>
         <exclude>
             <file>src/app.php</file>
             <file>src/controllers.php</file>
         </exclude>
      </whitelist>
   </filter>
</phpunit>
