<phpunit
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.3/phpunit.xsd"
   backupGlobals="true"
   backupStaticAttributes="false"
   colors="true"
   convertErrorsToExceptions="true"
   convertNoticesToExceptions="true"
   convertWarningsToExceptions="true"
   forceCoversAnnotation="true"
   beStrictAboutTestsThatDoNotTestAnything="true"
   beStrictAboutOutputDuringTests="true"
   beStrictAboutTestSize="true"
   timeoutForSmallTests="1"
   timeoutForMediumTests="10"
   timeoutForLargeTests="60"
   strict="false"
   verbose="false">
   <testsuites>
      <testsuite name="EstatyTestSuite">
         <directory>tests</directory>
      </testsuite>
   </testsuites>
   <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
         <directory suffix=".php">src</directory>
         <exclude>
             <file>src/app.php</file>
             <file>src/controllers.php</file>
             <file>src/Validator/Constraints/UniqueEntityValidator.php</file>
         </exclude>
      </whitelist>
   </filter>
   <php>
       <env name="ESTATY_ENV" value="test"/>
       <ini name="display_errors" value="1"/>
       <ini name="error_reporting" value="32767"/>
       <ini name="date.timezone" value="UTC"/>
   </php>
</phpunit>
